Django==3.2.9
djangorestframework==3.12.4
djangorestframework-simplejwt==5.2.2
PyJWT==1.7.1
python-dateutil==2.8.2
djangorestframework
markdown
django-filter 
django-allauth~=0.51.0
django-widget-tweaks~=1.4.12