{% extends "app/base.html" %}

{% block content %}

<div class="my-5">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
      </svg>
    <h3>ショッピングカート</h3>
</div>

<div class="row order">
    <div class="col-md-9 mb-5">
        <div class="card">
            <div class="card-body px-4 py-3">
                {% for order_item in order.items.all %}
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <img src="{{ order_item.item.image.url }}" class="img-fluid" alt="{{ order_item.item.title }}">
                        </div>
                        <div class="col-md-6">
                            <h5>{{ order_item.item.title }}</h5>
                            <p class="mb-1">
                                数量：
                                <a href="{% url 'removesingleitem' order_item.item.slug %}"><span class="badge badge-warning">-</span></a>
                                {{ order_item.quantity }}
                                <a href="{% url 'additem' order_item.item.slug %}"><span class="badge badge-warning">+</span></a>
                            </p>
                            <a href="{% url 'removeitem' order_item.item.slug %}">
                                <span class="badge badge-danger">削除</span>
                            </a>
                        </div>
                        <div class="col-md-3 text-right">
                            <p>
                                価格：
                                <span class="text-danger font-weight-bold">
                                    {{ order_item.get_total_item_price }}円
                                </span>
                            </p>
                        </div>
                    </div>
                    {% if not forloop.last %}
                        <hr>
                    {% endif %}

                    {% empty %}
                    <p class="mb-3">カートは空です</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-body text-center px-2 py-3">
                {% if order.get_total %}
                    <p>小計：<span class="font-weight-bold">{{ order.get_total }}</span>円</p>
                    <div class="mb-3">
                        <a class="btn btn-warning" href="{% url 'payment' %}">レジに進む</a>
                    </div>
                {% endif %}
                <a class="btn btn-primary" href="/">買い物を続ける</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}